<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
</head>
<body>
<h3>Name:</h3>
{{ name }} <br>
<h3>Mobile#:</h3>
{{ mobileno }} <br>
<h3>City:</h3>
{{ city }} <br>
<h3>Profession:</h3>
{{ profession }} <br>

<br>
    <a href="http://127.0.0.1:5000/searchContact">Back to Search Contact</a><br>
    <a href="http://127.0.0.1:5000/addContact">Add Contact</a><br>
    <a href="http://127.0.0.1:5000/displayContacts">DisplayAllContacts</a><br>
        <a href="/logout">Logout</a><br>
</body>
</html>