<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Site</title>

          <!-- Latest compiled and minified CSS -->
      <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  	<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>



    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table.css">
    <script src="/static/admin.js"></script>
</head>
<body>
    <div class="navigationBar">
        <center><img src="/static/Pictures/logo.png" height="100px" alt="Logo"></center>
     </div>




    <br>
    <br>
    <br>
    <br>




<center><strong><H1 style="color:#343F4F ; font-family: VERDANA;">EVENT BOOKINGS</H1></strong><br></center>
<center><p>Following events have been book so far at your website.</p></center>
<table class="show" id="show" border="2">
    <thead>
            <tr>
                <th>User Mail</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Description</th>


            </tr>
        </thead>


</table>

    <br>
    <center><input id="logout" type="button" style="display: inline-block;padding: 8px 16px;background-color: dodgerblue;color: white; text-decoration: none; border-radius: 4px;" value="Logout"></center>
    <br>


 </div>
</body>
</html>