<!DOCTYPE html>
<html lang="en">

<head>
	<title> Book venue</title>
	<link rel="stylesheet"
	href="/static/css/form.css" type="text/css">
    <link rel="stylesheet"
	href="/static/css/formTable.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="/static/bookVenue.js"></script>

</head>

<body>
<div class="main">
<div class="book">
	<h2>Book Venue</h2>
	<form id="book" method="post">

	<label>Event date : </label>
	<br>
    	<input type="date" name="date" class="date" id="date" >
	<br><br>


    	<label>Event start time : </label>
	<br>
    	<input type="time" name="startTime" class="time" id ="startTime" >
	<br><br>

    	

    	<label>Event end time : </label>
	<br>
    	<input type="time" name="endTime" class="time" id ="endTime" >
	<br><br>


    	<label>No. of guests : </label>
	<br>
    	<input type="number" name="guests" class ="desc" placeholder="No. of guests" >
	<br><br>


	<center><input type="button" value="Submit" name="book" class="book" id ="bookSubmit"></center>
</form>

</div>
</div>
<br><br>
<center><strong><H1 style="color:#eae781 ; font-family: VERDANA;">REVIEWS ABOUT THIS SERVICE PROVIDER</H1></strong><br></center>

<center><table class="show" id="show" class="show mb-5" border="2">
    <thead>
            <tr>
                <th>User Mail</th>
                <th>Feedback</th>
            </tr>
        </thead>


</table></center>
</body>

</html>