<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Designing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table.css">
    <script src="/static/designing.js" defer></script>
          <!-- Latest compiled and minified CSS -->

      <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  	<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


</head>
<body>
    <div class="navigationBar">
        <center><img src="../static/Pictures/logo.png" height="100px" alt="Logo"></center>
        <div class="row justify-content-center">
         <ul style= "list-style:none" class="mt-4">
            <div class="row justify-content-center">
             <li><a href="/" class="menuOption">HOME</a></li>
             <li><a href="/bookev/photography"class="menuOption ml-5">PHOTOGRAPHY</a></li>
             <li><a href="/bookev/catering" class="menuOption ml-5">CATERING </a></li>
             <li><a href="/bookev/designing" class="menuOption ml-5">DESIGNING </a></li>
             <li><a href="/bookev/decoration" class="menuOption ml-5">DECORATION</a></li>
             <li><a href="/bookev/venue" class="menuOption ml-5">VENUE</a></li>
             <li><a href="/bookev/events" class="menuOption ml-5">EVENT</a></li>
             <div id="withoutLogin">
                 <div class="dropdown">
                    <li><a href="#" class="menuOption ml-5">LOGIN</a>
                        <div class="dropdown-content">
                        <a href="/bookev/login/user">Login User</a>
                        <a href="/bookev/login/service">Login Service</a>
                    </div>
                 </div>
                 <div class="dropdown">
                    <li><a href="#" class="menuOption ml-5 dropbtn" style="font-size:18px"><strong>SIGNUP</strong></a>
                        <div class="dropdown-content">
                        <a href="/bookev/signup/user">Signup User</a>
                        <a href="/bookev/signup/service">Signup Service</a>
                    </div>
                 </div>
             </div>
             <div id="withLogin">
                 <div class="dropdown">
                     <li><button id="logout" style="background: none;color: inherit;border: none;padding: 0;font: inherit;cursor: pointer;outline: inherit;"><a href="" class="menuOption ml-5">LOGOUT</a></button></li>
                 </div>
                 <div class="dropdown">
                    <li><a href="/bookev/myProfile" class="menuOption ml-5 dropbtn" style="font-size:18px"><strong>PROFILE</strong></a>
                    </div>
                 </div>
             </div>
         </ul>
        </div>
     </div>

<div style="box-shadow: 10px 10px 5px #a6bb8d inset; background-color:#61876e; height:550px;">
    <div class="row">
        <div class="col-sm-8">
            <img src="../static/Pictures/designingMain.jpg" alt="Chef Kitchen" style="width:100%; height:600px;" class="mt-2">
        </div>
        <div class="col-sm-4" style="padding-top: 120px;">
            <h2 style="font-family: Lucida Handwriting; color:#eae781; line-height: 175%;">Fashion is about dreaming and making other people dream!</h2>
        </div>
    </div>
</div>

 <div class="container-fluid pt-5" style="background-color:#e1dcda;">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3"style="max-width: 600px; padding-top:50px;">
                <h1 class="display-5 text-uppercase">designing</h1>
                 <i class="fa-solid fa-shirt fa-2x mt-2"></i>
                <i class="fa-solid fa-scissors fa-2x ml-2"></i>
                <i class="fa-solid fa-hat-cowboy fa-2x ml-2"></i>
            </div>
            <div class="row gx-5">

                <div class="col-sm-8 pb-5">
                    <h4 class="mb-4">The reality of a designer is a life of fight;<br>fight against the ugliness.</h4>

                    <p>The world is advancing and in this era of social media, everyone wants to look unique. When it comes
                    to one in a lifetime events such as marriages or engagements, or some special days like birthday, this urge
                    even develops more. Nothing to worry about! We got your back. We have some high qualified and experienced fashion
                    designers that can make you look what you are looking to yourself in your head. Take a look at the list of designers specialized in
                    different kind of wears and for different kind of people and choose according to your need.</p>

            </div>
            <div class="col-sm-1 pb-5">

            </div>
            <div class="col-sm-3 pb-5">
                    <div class="ml-3 align-items-center justify-content-center mb-4">
                                <img src="../static/Pictures/fashionAward.jpg" alt ="Award" style="width: 136px; height: 90px;">
                            </div>
                            <h4 class="text-uppercase">Global Award Winners</h4>
                            <p class="mb-0">We have globally acknowledged designers on board with us.</p>

            </div>
        </div>
    </div>
 </div>


<div class="images">
<div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left" style="z-index: 1;"></i>
      <div class="carousel">
        <img src="../static/Pictures/weddingClothDesigner1.jpg" alt="img" draggable="false">
        <img src="../static/Pictures/weddingClothDesigner2.jpg" alt="img" draggable="false">
        <img src="../static/Pictures/weddingClothDesigner3.jpg" alt="img" draggable="false">
        <img src="../static/Pictures/weddingClothDesigner4.jpg" alt="img" draggable="false">
        <img src="../static/Pictures/weddingClothDesigner5.jpg" alt="img" draggable="false">
        <img src="../static/Pictures/weddingClothDesigner6.jpg" alt="img" draggable="false">


      </div>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
</div>


        <div class="container-fluid pt-5" style="background-color:#e1dcda;">
      </div>
    <table class="show" id="show" class="mt-5" border="2">
    <thead>
            <tr>
                 <th>Id</th>
                <th>Name</th>
                <th>Experience (years)</th>
                <th>Speciality</th>
                <th>Charges (per dress)</th>

            </tr>
        </thead>
</table>
    <center><p class="mt-3" id="para"><a href="/bookev/login/user" style="display: inline-block;padding: 8px 16px;background-color: dodgerblue;color: white; text-decoration: none; border-radius: 4px;">Login</a> to view list of designers.</p><br></center>
<div id="inputField">
    <center>
        <label style="display: block;
        font-size: 1.2em;
        margin-bottom: 8px;">Enter Id to hire designer:</label>
        <input style="padding: 8px;
        font-size: 1em;
        border-radius: 4px;
        border: 1px solid gray;
        width: 300px;" type="text" name="text" id="id">
        <input type="button" class="btn btn-primary" id="hireDesigner" value = "Book">
    </center>
</div>

    <div class="contactDiv mt-5">
      <p class="font-weight-bold"style="font-size: 30px; padding-left: 70px;">Contact Us</p>

      <div class="row justify-content-center">

        <div class="col-sm">
          <div class="row" style="padding-left: 20%;">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/accept-call-icon.png" alt="Phone:" width="25px" height="25px">
            <p class="ml-2">+923321149474</p>
          </div>
        </div>

        <div class="col-sm">
          <div class="row" style="padding-left: 20%;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/640px-Instagram_icon.png" alt="Instagram:" width="25px" height="25px">
            <p class="ml-2">book.ev_planner</p>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">

        <div class="col-sm">
          <div class="row" style="padding-left: 20%;">
            <img src="https://cdn-icons-png.flaticon.com/512/6948/6948631.png" alt="Phone:" width="25px" height="25px">
            <p class="ml-2">Old Anarkali, Mall Road, Lahore, Pakistan</p>
          </div>
        </div>

        <div class="col-sm">
          <div class="row" style="padding-left: 19%;">
            <img class="ml-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png" alt="Facebook:" width="25px" height="25px">
            <p class="ml-2">The Bookev</p>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">
        <p>Copyright © The Soft Crafts 2023. All rights reserved.</p>
      </div>

    </div>

 </div>

</body>
</html>