<!DOCTYPE html>
<html lang="en">

<head>
	<title>Service Login</title>
	<link rel="stylesheet"
	href="/static/css/form.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/loginService.js"></script>
</head>


<body>
<div class="main">
<div class="book">
	<h2>Employee Login</h2>
	<form id="book">


	<label>Email</label>
	<br>
        <input type="email" class="desc" id="name" name="email" placeholder="Email">
        <br><br>
 
        <label>Password</label>
	<br>
        <input type="password" class="desc" id="password" name="password" placeholder="Password">
     	<br><br>


	<center><input type="button" class="book" value="Login" name="book" id ="bookSubmit"></center>

        </form>

<center>
         <p class="text-center mt-3">
            Don't have an account? <a href="/bookev/signup/service">Create one</a>
         </p>

         <p class="text-center">
            Login as user? <a href="/bookev/login/user">Click here</a>
         </p>
<br><br>
</center>
</div>  
</div>
  </body>
</html>