<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Profile</title>

          <!-- Latest compiled and minified CSS -->
      <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  	<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>



    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/serviceProfile.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table.css">
    <script src="/static/serviceProfile.js"></script>
</head>
<body>
    <div class="navigationBar">
        <center><img src="/static/Pictures/logo.png" height="100px" alt="Logo"></center>
     </div>




    <br>
    <br>
    <br>
    <br>





    <div class="card">
           <center> <img src="/static/Pictures/micon.webp" alt="Profile" style="width:250px" style="height:250px"></center>
  <h1 id="name"></h1>
  <p id="email"></p>
  <p id="mobile"></p>
                <br>

   </div>



    <br>
    <center><input id="logout" type="button" style="display: inline-block;padding: 8px 16px;background-color: dodgerblue;color: white; text-decoration: none; border-radius: 4px;" value="Logout"></center>
    <br>
    <br>







<center><strong><H1 style="color:#343F4F ; font-family: VERDANA;">COMPLETED ORDERS</H1></strong><br></center>

<table class="show" id="show1" border="2">
    <thead>
            <tr>
                <th>User Mail</th>
                <th>date</th>
                <th>charges</th>



            </tr>
        </thead>


</table>
    <center><strong><H1 style="color:#343F4F ; font-family: VERDANA;">PENDING ORDERS</H1></strong><br></center>

<table class="show" id="show2" border="2">
    <thead>
            <tr>
                <th>User Mail</th>
                <th>date</th>
                <th>charges</th>



            </tr>
        </thead>


</table>
    <center><strong><H1 style="color:#343F4F ; font-family: VERDANA;">YOUR REVIEWS</H1></strong><br></center>

<table id="show3" class="show" border="2">
    <thead>
            <tr>
                <th>User Mail</th>
                <th>Feedback</th>




            </tr>
        </thead>


</table>

    <br>
    <br>
    <br>
    <br>




    <div class="contactDiv">
      <p class="font-weight-bold"style="font-size: 30px; padding-left: 70px;">Contact Us</p>

      <div class="row justify-content-center">

        <div class="col-sm">
          <div class="row" style="padding-left: 20%;">
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/communication-chat-call/accept-call-icon.png" alt="Phone:" width="25px" height="25px">
            <p class="ml-2">+923321149474</p>
          </div>
        </div>

        <div class="col-sm">
          <div class="row" style="padding-left: 20%;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/640px-Instagram_icon.png" alt="Instagram:" width="25px" height="25px">
            <p class="ml-2">book.ev_planner</p>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">

        <div class="col-sm">
          <div class="row" style="padding-left: 20%;">
            <img src="https://cdn-icons-png.flaticon.com/512/6948/6948631.png" alt="Phone:" width="25px" height="25px">
            <p class="ml-2">Old Anarkali, Mall Road, Lahore, Pakistan</p>
          </div>
        </div>

        <div class="col-sm">
          <div class="row" style="padding-left: 19%;">
            <img class="ml-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png" alt="Facebook:" width="25px" height="25px">
            <p class="ml-2">The Bookev</p>
          </div>
        </div>

      </div>

      <div class="row justify-content-center">
        <p>Copyright © The Soft Crafts 2023. All rights reserved.</p>
      </div>

    </div>

 </div>
</body>
</html>