<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Product</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<style>
       ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}
    </style>
</head>
<body>
<ul>
    <li><a href="/add">Add Product</a></li>
<li><a href="/show">Show Products</a></li>
<li><a href="/update">Update Products</a></li>
<li><a href="/delete">Delete Products</a></li>
<li><a href="/search">Search Products</a></li>
</ul>
<div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-sm-6">
          <h1 class="text-center mb-4">Add Product</h1>
          <form id="form" action="" method="POST">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" id="description" name="description" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="number" step="any" class="form-control" id="price" name="price">
            </div>
            <input type="button" class="btn btn-primary" value="Add Product" id="submit">
          </form>
            <p class="muted-text mt-3" id="msg"></p>
        </div>
      </div>
    </div>
<script>
    $(document).ready(function(){
        // click on button submit
        $("#submit").on('click', function(){
            // send ajax
            var formdata = $("#form").serializeArray();
            var data = {};
            $(formdata ).each(function(index, obj){
                data[obj.name] = obj.value;
            });
            data=JSON.stringify(data)
            $.ajax({
                url: '/api/productInsert', // url where to submit the request
                type : "POST", // type of action POST || GET
                data : data, // post data || get data
                dataType : 'json',
                contentType: "application/json; charset=utf-8",

                success : function(result) {
                    // you can see the result from the console
                    // tab of the developer tools
                        $("#msg").html(result["msg"])
                },
                error: function(xhr, resp, text) {
                    $("#msg").html("Operation failed.")
                    console.log(xhr, resp, text);
                }
            })

        });
    });
    </script>
</body>
</html>